<div>
  <h1>Welcome to {{title}}</h1>

  <h3>Data Binding</h3>
  <p><span class="bold">Two Way Data Binding</span> - Component(.ts file) to View(.html file) | View(.html file) to Component(.ts file)</p>
  <!-- manually Two way binding using the property and event -->
  Enter Your Name : <input [value]="data" (input)="display($event.target)">
  <br/>
  Your name : {{data}}
  <br/>
  <br/>
  <!-- using ngModel Two Way Data Binding -->
   <!-- for this u require to use FormsModule also and have to import-->
  Enter your Friend Name : <input type="text" [(ngModel)]="friend">
  <br/>
  Your Friend Name : {{friend}}
</div>

<router-outlet></router-outlet>