.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    text-align: center;
}

span{
    color: blue;
    font-size: 3rem;
}
li,li div{
    text-align: start;
}

table{
    margin: 20px auto;
}

/* classes */
.one{
    color: red;
}

.two{
    font-size: 3rem;
}

.three{
    color: rgb(255, 102, 0);
}

.four{
    font-size: 25px;
}

.five{
    color:green;
}

.six{
    color:purple
}

.bold{
    font-size: x-large;
    font-weight: bold;
    color: black;
}